#page-Quickmail div.region-content select.select, #page-Quickmail div.region-content table.generaltable, #page-Quickmail div.region-content div.generalbox {
   margin-left: 20px;
   margin-right: 20px;
}

#page-Quickmail select[multiple] {
   min-width: 250px;
   max-width: 250px;
}

#page-Quickmail .mform {
}

#page-Quickmail .emailtable {
    background-color: inherit;
}

#page-Quickmail .emailtable .r1 .c0, .emailtable .r1 .c2 {
    width: 275px;
}

#page-Quickmail .object_labels {
    margin-right: 20px;
    font-weight: bold;
}

#page-Quickmail .emailtable .cell {
    border: none;
}

#page-Quickmail .emailtable .r0 .cell {
    padding: .5em .5em .3em .5em;
}

#page-Quickmail .emailtable .r1 .c1 {
    text-align: center;
    vertical-align: middle;
}

#page-Quickmail .emailtable .r1 .c2 div {
    padding: 2px 0;
}

#page-Quickmail .emailtable .r1 .c2, .emailtable .r0 .c1 {
    text-align: right;
}

#page-Quickmail .mform fieldset.hidden>div {
   width: 800px;
   text-align: left;
   margin: auto;
}

#page-Quickmail .mform #add_button, #remove_button, #add_all, #remove_all {
   width: 100px;
   height: 25px;
}

#page-Quickmail .mform input#id_subject {
  width: 75%;
}
.fondoTransparente
{
      /*Div que ocupa toda la pantalla*/
  position:absolute;
 top:0px;
 left:0px;
 width:100%;
 height:1300%;
 background-color:#aeb4ac;
 /*IE*/
 filter: alpha(opacity=50);
 /*FireFox Opera*/
 opacity: .5;
 z-index: 1;
 
                                          
}
.centrada
{
 position: absolute;
 /*nos posicionamos en el centro del navegador*/
 top:50%;
 left:50%;
 /*determinamos una anchura*/
 width:400px;
 /*indicamos que el margen izquierdo, es la mitad de la anchura*/
 margin-left:-200px;
 /*determinamos una altura*/
 height:200px;
 /*indicamos que el margen superior, es la mitad de la altura*/
 margin-top:-150;
 border:1px solid #808080;
 background-color:#fff;
 padding:5px;
 }
                                                                                          
 .fondo_color_drcha {
 background-image:url(http://www.formacion-fecyl.edu.es/blocks/quickmail/pix/fondo_contendor.png);
 float:right;
 padding-top:12px;
 padding-bottom:20px;
 padding-right:250px;
 width:49%;
 text-align:right;
 vertical-align:bottom;
 height:20px;
 }
 .fondo_color_izqda {
 background-image:url(http://www.formacion-fecyl.edu.es/blocks/quickmail/pix/fondo_contendor.png);
 float:left;width:25%;
 padding-left: 10px;
 }
 .lateral_izq {
 float:left;
 width:25%;
 text-decoration:underline;
 padding-left:10px;
 background-image:url(http://www.formacion-fecyl.edu.es/pix/y/tn.gif);
 background-repeat:repeat-y;
 background-position:right;
 padding-top:10px;
 display:block;
 height:1100px;
 }
 
 .lateral_izq a{
 background-image:url(http://www.formacion-fecyl.edu.es/pix/f/folder.png);
 background-repeat:no-repeat;
 padding-left:20px;
 }
 .lateral_izq a.escribir{
 background-image:url(http://www.formacion-fecyl.edu.es/pix/t/editstring.png);
 }
 .lateral_izq a.borrador{
 background-image:url(http://www.formacion-fecyl.edu.es/pix/t/edit.gif);
 }
 
 #capa_buscar {
 float:right;
 margin-top: -40px;
 text-align:right;
 width:240px;
 }
 .capa_remitente{
 float:right;
 margin-top: -32px;
 text-align:left;
 width:74%;
 }
 .sub_rayado{
 background-image:url(http://www.formacion-fecyl.edu.es/blocks/quickmail/pix/tline.png);   background-repeat:repeat-x; background-position:top; 
 font-size:12px;
 height:40px;
 }
 
 }
}
