#page-block-quickmail-admin_email div.region-content table.generaltable {
    margin: 0 auto 30px auto;
    width: 70%;
}

#page-block-quickmail div.region-content select.select,
#page-block-quickmail div.region-content table.generaltable,
#page-block-quickmail div.region-content div.generalbox {
    margin-left: 20px;
    margin-right: 20px;
}

#page-block-quickmail select[multiple] {
    min-width: 250px;
    max-width: 250px;
}

#page-block-quickmail .mform {
}

#page-block-quickmail .emailtable {
    background-color: inherit;
}

#page-block-quickmail .emailtable .r1 .c0,
.emailtable .r1 .c2 {
    width: 275px;
}

#page-block-quickmail .object_labels {
    margin-right: 20px;
    font-weight: bold;
}

#page-block-quickmail .emailtable .cell {
    border: none;
}

#page-block-quickmail .emailtable .r0 .cell {
    padding: .5em .5em .3em .5em;
}

#page-block-quickmail .emailtable .r1 .c1 {
    text-align: center;
    vertical-align: middle;
}

#page-block-quickmail .emailtable .r1 .c2 div {
    padding: 2px 0;
}

#page-block-quickmail .emailtable .r1 .c2, .emailtable .r0 .c1 {
    text-align: right;
}

#page-block-quickmail .mform fieldset.hidden > div {
   clear:both;
   float:none;
   position:center;
   overflow:hidden;
   width:100%;
   text-align:left;
   margin:auto;
}

#page-block-quickmail .mform input#id_subject {
    width: 75%;
}
