<div class="block_quickmail_draft_message_index">
    <table class="table table-hover">
        <thead>
            <tr>
                {{# tableHeadings }}
                <th>{{.}}</th>
                {{/ tableHeadings }}
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{# tableRows }}
                <tr>
                    <td>{{ courseName }}</td>
                    <td>{{ subjectPreview }}</td>
                    <td>{{ messagePreview }}</td>
                    <td>{{ lastModified }}</td>
                    <td>
                        <a href="{{ openUrl }}" class="btn btn-primary btn-sm">{{# str }} compose, block_quickmail {{/ str }}</button>
                    </td>
                </tr>
            {{/ tableRows }}

            {{^ tableRows }}
                <tr>
                    <td colspan="5" align="center">{{# str }} no_drafts, block_quickmail {{/ str }}</td>
                </tr>
            {{/ tableRows }}
        </tbody>
    </table>
    
    <a href="{{ urlBack }}" class="btn btn-info">{{ urlBackLabel }}</a>
</div>