<div class="block_quickmail_draft_message_index">
    <select id="select_course_filter_draft">
        <option value="0">All Courses</option>
        {{# userCourseArray }}
            <option value="{{ userCourseId }}" {{ selectedAttr }}>{{ userCourseName }}</option>
        {{/ userCourseArray }}
    </select>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Course</th>
                <th>Subject Preview</th>
                <th>Message Preview</th>
                <th>Created</th>
                <th>Last Modified</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{# tableRows }}
                <tr>
                    <td>{{ courseName }}</td>
                    <td>{{ subjectPreview }}</td>
                    <td>{{ messagePreview }}</td>
                    <td>{{ createdAt }}</td>
                    <td>{{ lastModifiedAt }}</td>
                    <td>
                        <a href="{{ openUrl }}" class="btn btn-primary btn-sm">{{# str }} open, block_quickmail {{/ str }}</a>
                        <button role="button" class="btn btn-info btn-sm btn-duplicate-draft" data-draft-id="{{ id }}">{{# str }} duplicate {{/ str }}</button>
                        <button role="button" class="btn btn-danger btn-sm btn-delete-draft" data-draft-id="{{ id }}">{{# str }} delete {{/ str }}</button>
                    </td>
                </tr>
            {{/ tableRows }}

            {{^ tableRows }}
                <tr>
                    <td colspan="5" align="center">{{# str }} no_drafts, block_quickmail {{/ str }}</td>
                </tr>
            {{/ tableRows }}
        </tbody>
    </table>
    
    <a href="{{ urlBack }}" class="btn btn-info">{{ urlBackLabel }}</a>
</div>