<!-- 
// This file is part of Moodle - http://moodle.org/
//
// Moodle is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Moodle is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

/**
 * @package    block_quickmail
 * @copyright  2008 onwards Louisiana State University
 * @copyright  2008 onwards Chad Mazilly, Robert Russo, Jason Peak, Dave Elliott, Adam Zapletal, Philip Cali
 * @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 */
-->

{{< core/modal }}
    {{$title}}{{#str}} alternate_new, block_quickmail {{/str}}{{/title}}
    {{$body}}
        <div class="container" id="create-alternative-modal-container">
            <form>
                <div class="form-group">
                    <label for="inputEmail" class="control-label">{{#str}} email {{/str}}</label>
                    <input type="email" class="form-control" id="inputEmail">
                </div>

                <div class="form-group">
                    <label for="inputFirstname" class="control-label">{{#str}} firstname {{/str}}</label>
                    <input type="text" class="form-control" id="inputFirstname">
                </div>

                <div class="form-group">
                    <label for="inputLastname" class="control-label">{{#str}} lastname {{/str}}</label>
                    <input type="text" class="form-control" id="inputLastname">
                </div>

                <div class="form-group">
                    <label for="inputAvailability" class="control-label">{{#str}} alternate_availability, block_quickmail {{/str}}</label>
                    <select class="form-control" id="inputAvailability">
                        <option value="only">{{#str}} alternate_availability_only, block_quickmail {{/str}}</option>
                        <option value="user">{{#str}} alternate_availability_user, block_quickmail {{/str}}</option>
                        <option value="course">{{#str}} alternate_availability_course, block_quickmail {{/str}}</option>
                    </select>
                </div>
            </form>
        </div>
    {{/body}}
    {{$footer}}
        <button type="button" class="btn btn-secondary" data-action="cancel">{{#str}} cancel {{/str}}</button>
        <button type="button" class="btn btn-primary" data-action="create">{{#str}} create {{/str}}</button>
    {{/footer}}
{{/ core/modal }}